
/* nav section */
.navhead{
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.herohead{
    background-image: url(../Assets/Hero-bg.png);
    
}
.container{
    padding-left: 100px;
    padding-right: 100px;
}
.containers{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    color: #4E47FF;
}
.btn{
    color: white;
    background-color: #4E47FF;
    padding: 8px;
    border-radius: 5px;
}

/* hero section */
.herotitle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.herobtn{
    text-align: center;
    
    color: white;
    background-color: #4E47FF;
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}
.herobtnhead{
  display: flex;
  justify-content: center;

  
}

/* action section */
.actiontitle{
    font-weight: bold;
    font-size: 30px;
    margin-top:100px ;
}
.actionpara{
    color: #535355;
    font-size: 20px;
    padding-bottom:5px;
}
.actionbtn{
    color: rgb(255, 255, 255);
    background-color: #4E47FF;
    padding: 12px;
    border-radius: 10px;
}
.seeitcontainer{
    display: flex;
    gap: 1000px;
}
.wc{
    width: 80%;
    margin-top: 65px;
    border-radius: 30px;
}